{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center page-title mb-5">Password Change</h1>
    <div class="form-container container w-50 w-md-100">
        <p>Please enter you old password to verify your identity, then enter your new desired password and once more to confirm it.</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form|crispy }}
            </div>
            <div class="container px-0 d-grid mb-3 w-50 w-md-100 gap-2">
                <input type="submit" value="Confirm" class="btn btn-primary" style="background-color: #ef233c; border-color: #ef233c;">
            </div>
        </form>
    </div>
</div>
{% endblock content %}