{% extends 'base.html' %}

{% block title %}Password Reset Instructions{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center page-title mb-5">Password Reset Instructions Sent</h1>
    <p class="text-center">We've sent instructions for resetting your password to the email address you've provided us.</p>
    <p class="text-center">If you don't receive the instructions make sure to check the email address you entered and checking your spam folder.</p>
</div>
{% endblock content %}