{% extends 'base.html' %}
{% load static %}

{% block home %}active{% endblock home %}
{% block title %}Tech Storm{% endblock title %}

{% block content %}
<div class="weekly-deals-container py-5">
    <div class="main-text text-center">
        <h1>Weekly Deals</h1>
        <h3>Find the perfect gift this holiday season</h3>
    </div>

    <div class="product-display">
        {% for product in latest_products %}
            <div class="product rounded-4 p-3">
                <div class="product-header">
                    <div class="product-img">
                        <img src="{{ product.image.url }}" alt="placeholder">
                    </div>
                </div>
                <div class="product-text text-truncate">
                    <h4><a href="{% url 'product_detail' product.id %}" class="text-reset text-decoration-none product-link">{{ product.product_name }}</a></h4>
                    <p class="text-muted text-truncate">${{ product.price }}</p>
                    <button data-product="{{ product.id }}" data-action="add" data-user="{{ request.user }}" class="btn btn-outline-warning add-btn update-cart">Add to cart</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="body-container">
    <div class="navside">
        <a href="{% url 'catalog' %}?category=computer" class="btn nav-btn">Computer</a>
        <a href="{% url 'catalog' %}?category=electronics" class="btn nav-btn">Electronics</a>
        <a href="{% url 'catalog' %}?category=gaming" class="btn nav-btn">Gaming</a>
        <a href="{% url 'catalog' %}?category=office" class="btn nav-btn">Office</a>
        <a href="{% url 'catalog' %}?category=networking" class="btn nav-btn">Networking</a>
        <a href="{% url 'catalog' %}?category=theater" class="btn nav-btn">Theater</a>
        <a href="{% url 'catalog' %}?category=toys" class="btn nav-btn">Toys</a>
        <a href="{% url 'catalog' %}?category=software" class="btn nav-btn">Software</a>
        <a href="{% url 'catalog' %}?category=audio & video" class="btn nav-btn">Audio & Video</a>
    </div>
    <div class="promo-container mt-3">
        <div class="promo">
            <div class="promo-text">
                <p>Bundle up this season</p>
                <h2>Save on PC bundles</h2>
            </div>
            <img src="{% static 'img/gaming-promo.png' %}" alt="pc-promo">
        </div>

        <div class="articles">
            <h4>Lorem Ipsum Dolor</h4>
            <p class="text-muted">Aenean consectetur condimentum tristique. Nam hendrerit urna ex, non pretium erat pellentesque eget. Sed ut risus nec augue sagittis convallis.</p>
        </div>
    </div>
</div>

<div class="container my-5">
    
</div>
{% endblock content %}